---
import type { GetStaticPaths } from 'astro';

import { getPokemonList } from '@lib/services/pokemon.service';
import { queryClient } from '@lib/queryClient';
import { queryKeys } from '@lib/queryKeys';
import MainLayout from '@layouts/MainLayout.astro';
import PokemonCardPreview from '@components/pokemons/PokemonCardPreview.astro';
import Title from '@components/shared/Title.astro';
import { Icon } from 'astro-icon/components';

export const getStaticPaths = (async () => {
  const { results: pokemons } = await queryClient.fetchQuery({
    queryKey: queryKeys.pokemonList(),
    queryFn: () => getPokemonList(),
  });

  const initialPokemons = pokemons.map((pokemon) => ({
    params: {
      name: pokemon.name,
    },
    props: {
      name: pokemon.name,
      url: pokemon.url,
    },
  }));

  return initialPokemons;
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout title={`Detail | ${name}`} descriptionOG=`Info of ${name}` imageOG={imageSrc}>
  <section
    class="flex items-start justify-between gap-4 rounded-lg border border-border bg-card p-4"
  >
    <div class="flex flex-col gap-2">
      <button type="button" class="btn btn--outline self-start" onclick="history.back()"
        >Return</button
      >
      <Title class="capitalize">{name}</Title>
    </div>

    <button
      type="button"
      class="btn btn--ghost btn--sm"
      id="btn-favorite"
      data-name={name}
      data-id={id}
    >
      <Icon name="heart-outlined" size={20} class="text-primary" />
      <Icon name="heart-filled" size={20} class="hidden text-primary" />
    </button>
  </section>

  <PokemonCardPreview name={name} url={url} />

  <audio controls>
    <source src={audioSrc} type="audio/ogg" />
  </audio>
</MainLayout>

<script>
  const handlePageLoaded = () => {
    const $btnFavorite = document.querySelector('#btn-favorite') as HTMLButtonElement;

    if (!$btnFavorite) return;

    const name = $btnFavorite.dataset.name;
    const id = $btnFavorite.dataset.id;

    $btnFavorite.addEventListener('click', () => {
      console.log(name);
    });
  };

  document.addEventListener('astro:page-load', handlePageLoaded);

  // document.addEventListener("astro:before-preparation", () => console.log("astro:before-preparation"))
  // document.addEventListener("astro:after-preparation", () => console.log("astro:after-preparation"))
  // document.addEventListener("astro:before-swap", () => console.log("astro:before-swap"))
  // document.addEventListener("astro:after-swap", () => console.log("astro:after-swap"))
  // document.addEventListener("astro:page-load", () => console.log("astro:page-load"))
</script>
