---
import type { GetStaticPaths } from 'astro';

import { getPokemonList } from '../../lib/services/pokemon.service';
import { queryClient } from '../../lib/queryClient';
import { queryKeys } from '../../lib/queryKeys';
import MainLayout from '../../layouts/MainLayout.astro';
import PokemonCardPreview from '../../components/pokemons/PokemonCardPreview.astro';

export const getStaticPaths = (async () => {
  const { results: pokemons } = await queryClient.fetchQuery({
    queryKey: queryKeys.pokemonList(),
    queryFn: () => getPokemonList(),
  });

  const initialPokemons = pokemons.map((pokemon) => ({
    params: {
      name: pokemon.name,
    },
    props: {
      name: pokemon.name,
      url: pokemon.url,
    },
  }));

  return initialPokemons;
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<MainLayout title={`Detail | ${name}`}>
  <a href="/">Return</a>

  <h1>{name}</h1>

  <PokemonCardPreview name={name} url={url} />

  <audio controls>
    <source src={audioSrc} type="audio/ogg" />
  </audio>
</MainLayout>
